
body {
    background-image: url("http://static1.squarespace.com/static/5651c8ede4b0a95fdb7dfa14/t/568d3208d8af1097862577dc/1452093965653/picjumbo.com_HNCK0343.jpg?format=1500w");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Helvetica, sans-serif, Sans-Serif;
}

h1 {

    color: #FBA328;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.miInput {
    background-color: white;
    opacity: 0.7;
    border-radius: 7px;
}

#canvas {
    background: #ffffff;
    position: absolute;
    margin-left: 400px;
    margin-top: 2px;

}

#tita1 {
    display: inline-block;
}

#tita2 {
    display: inline-block;
}

#tita3 {
    display: inline-block;
}

#tita4 {
    display: inline-block;
}

